<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="ODataEndpointUri" value="" />
    <add key="ODataUserName" value="" />
    <add key="ODataPassword" value="" />
    <add key="ActiveDirectoryResource" value="" />
    <add key="ActiveDirectoryTenant" value="" />
    <add key="ActiveDirectoryClientAppId" value="" />
  </appSettings>  
</configuration>